@model dynamic

@{
    ViewBag.Title = "eFrukt - Varukorg";
}

<div class="row">
    <div class="col-sm-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        Produkt 1
    </div>
    <div class="col-sm-4">
        10 kr
    </div>
    <div class="col-sm-4">
        <a class="btn btn-danger" href="@Url.Action("Remove", "Basket", new {id=1}, Request.Url.Scheme)">Ta bort</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <p class="text-primary">Totalt</p>
    </div>
    <div class="col-sm-2">
        <p class="text-primary">10 kr</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-8">
        <a class="btn btn-primary" href="@Url.Action("Checkout", "Basket")">Lägg order</a>
    </div>
</div>
